Repository Dorebom/Kumiki_private, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-security, @team-compliance, @team-standards, @team-platform, @team-docs

.github/CODEOWNERS:

# .github/CODEOWNERS
# クリティカル領域は明確なオーナーを設定（Code Owners 承認を必須に）
docs/**/security/**   @team-security
docs/**/policy/**     @team-compliance
docs/**/std/**        @team-standards
tools/docops_cli/**   @team-platform
.github/**            @team-platform
docs/**               @team-docs

fix: update mkdocs configuration with site description, URL, and navigation structure
  docs/mkdocs.yml
Owners: @team-docs

fix: correct indentation in Python scripts within GitHub workflows
  .github/workflows/docops_ann_swap.yml
  .github/workflows/kumiki_ci_publish.yml
Owners: @team-platform

feat: add GitHub Actions workflow for generating documentation index and update mkdocs configuration
  .github/workflows/docops_gen_index.yml
  docs/index (1).md
  docs/index.md
  docs/mkdocs.yml
  mkdocs.yml
  tools/ci/gen_index.py
  tools/docops_cli/config/nav_order.yml
Owners: @team-platform, @team-docs

feat: add kumiki_ci_publish_plus workflow for documentation generation and integration
  .github/workflows/kumiki_ci_publish_plus.yml
  .github/workflows/pages.yml
  tools/ci/ci_integration.py
Owners: @team-platform

fix: remove unnecessary dot from artifact upload path in GitHub Actions workflow
  .github/workflows/pages.yml
Owners: @team-platform

fix: correct indentation in gate summary script within kumiki_ci_publish_plus workflow
  .github/workflows/kumiki_ci_publish_plus.yml
Owners: @team-platform

feat: update mkdocs generation command to handle push events with auto-commit
  .github/workflows/kumiki_ci_publish_plus.yml
Owners: @team-platform

fix: add no-fail-on-diff option and clean up auto-commit argument handling
  tools/ci/ci_integration.py
Owners: none

fix: update pip and setuptools installation in CI workflow and adjust merklelib version
  .github/workflows/kumiki_ci_publish_plus.yml
  tools/requirements-ci.txt
Owners: @team-platform

feat: add lint and trace scripts for document validation and graph building
  .github/workflows/kumiki_ci_publish_plus.yml
  tools/ci/lint.py
  tools/ci/trace.py
Owners: @team-platform

feat: add DocLint summary output and update exclusion rules for linting
  .github/workflows/kumiki_ci_publish_plus.yml
  tools/docops_cli/config/doclint_rules.yml
Owners: @team-platform

chore(docs): remove outdated index file
  docs/index (1).md
Owners: @team-docs

refactor: update read_frontmatter to use Path and improve date handling
  tools/ci/gen_index.py
Owners: none

feat: enhance linting rules with includes and excludes for markdown files
  tools/ci/lint.py
  tools/docops_cli/config/doclint_rules.yml
Owners: @team-platform

feat: Remove outdated Kumiki concept requirements document and create new roadmap structure
  docs/00_concept/CR-KMK-00_concept_requirements.md
  docs/00_concept/CR-Kumiki_concept_requirements_preferred_style_v0.2.md
  docs/00_concept/CR-Kumiki_concept_requirements_v0.1.md
  docs/00_concept/ROADMAP.md
  docs/00_concept/ROADMAP_BURNDOWN.md
  docs/00_concept/ROADMAP_DASHBOARD.md
  docs/00_concept/STD-KMK-CR-STYLE-01.md
  docs/CR-Kumiki_concept_requirements_v0.1.md
  tools/ci/gen_burndown.py
  tools/ci/gen_dashboard.py
  tools/docops_cli/config/roadmap.yml
Owners: @team-docs, @team-platform

feat: exclude ROADMAP_BURNDOWN and ROADMAP_DASHBOARD from linting rules
  tools/docops_cli/config/doclint_rules.yml
Owners: @team-platform

feat: Add detailed specifications for CI Gate, Observability, AI Patch Proposals, and more
  docs/00_concept/CR/CR-01_template+doclint_detail_v0.1.md
  docs/00_concept/CR/CR-02_fm-graph-trace_detail_v0.1.md
  docs/00_concept/CR/CR-03_hybrid_search_detail_v0.1.md
  docs/00_concept/CR/CR-04_roundtrip_reach_detail_v0.1.md
  docs/00_concept/CR/CR-05_audit_ledger_worm_detail_v0.1.md
  docs/00_concept/CR/CR-06_diff_impact_highlight_detail_v0.1.md
  docs/00_concept/CR/CR-07_id_consistency_dedup_repair_detail_v0.1.md
  docs/00_concept/CR/CR-08_multilingual_consistency_detail_v0.1.md
  docs/00_concept/CR/CR-09_security_privacy_block_detail_v0.1.md
  docs/00_concept/CR/CR-10_ci_gate_publish_detail_v0.1.md
  docs/00_concept/CR/CR-11_observability_detail_v0.1.md
  docs/00_concept/CR/CR-12_ai_patch_unified_diff_detail_v0.1.md
  docs/00_concept/CR/CR-13_embedding_ann_connector_swap_detail_v0.1.md
  docs/00_concept/CR/CR-14_scale_test_detail_v0.1.md
  docs/00_concept/CR/CR-15_approval_flow_detail_v0.1.md
  tools/docops_cli/config/trace_rules.yml
Owners: @team-docs, @team-platform

Add detailed specifications for CR-10 to CR-15 concepts and enhance CI traceability
  .github/workflows/kumiki_ci_publish_plus.yml
  docs/00_concept/CR-01_template+doclint_detail_v0.1.md
  docs/00_concept/CR-02_fm-graph-trace_detail_v0.1.md
  docs/00_concept/CR-03_hybrid_search_detail_v0.1.md
  docs/00_concept/CR-04_roundtrip_reach_detail_v0.1.md
  docs/00_concept/CR-05_audit_ledger_worm_detail_v0.1.md
  docs/00_concept/CR-06_diff_impact_highlight_detail_v0.1.md
  docs/00_concept/CR-07_id_consistency_dedup_repair_detail_v0.1.md
  docs/00_concept/CR-08_multilingual_consistency_detail_v0.1.md
  docs/00_concept/CR-09_security_privacy_block_detail_v0.1.md
  docs/00_concept/CR-10_ci_gate_publish_detail_v0.1.md
  docs/00_concept/CR-11_observability_detail_v0.1.md
  docs/00_concept/CR-12_ai_patch_unified_diff_detail_v0.1.md
  docs/00_concept/CR-13_embedding_ann_connector_swap_detail_v0.1.md
  docs/00_concept/CR-14_scale_test_detail_v0.1.md
  docs/00_concept/CR-15_approval_flow_detail_v0.1.md
  tools/ci/trace.py
  tools/docops_cli/config/trace_rules.yml
Owners: @team-platform, @team-docs

feat: Add preflight check for CLI presence and update search rules to exclude additional files
  .github/workflows/kumiki_ci_publish_plus.yml
  tools/ci/search.py
  tools/docops_cli/config/search_rules.yml
Owners: @team-platform

feat: Enhance gate job with Python setup, dependency installation, and YAML module check
  .github/workflows/kumiki_ci_publish_plus.yml
Owners: @team-platform

feat: Enhance gate job with preflight checks for stdlib name collisions and PyYAML importability
  .github/workflows/kumiki_ci_publish_plus.yml
Owners: @team-platform

feat: Remove preflight checks for stdlib name collisions and PyYAML importability from gate job
  .github/workflows/kumiki_ci_publish_plus.yml
Owners: @team-platform

feat: Implement BG ID aliasing and linting in CI workflow
  .github/workflows/kumiki_ci_publish.yml
  .github/workflows/kumiki_ci_publish_plus.yml
  tools/ci/aliasing_policy_tools_ci.md
  tools/ci/bg_aliasing.py
  tools/ci/tests/test_bg_aliasing.py
Owners: @team-platform

feat: Remove CI and GitHub Pages workflows
  .github/workflows/ci.yml
  .github/workflows/pages.yml
Owners: @team-platform

feat: Consolidate CI workflows and introduce new jobs for evaluation and auditing
  .github/workflows/docops_ai_patch.yml
  .github/workflows/docops_ann_swap.yml
  .github/workflows/docops_approval_gate.yml
  .github/workflows/docops_audit.yml
  .github/workflows/docops_gen_index.yml
  .github/workflows/docops_i18n.yml
  .github/workflows/docops_idcheck.yml
  .github/workflows/docops_impact.yml
  .github/workflows/docops_min.yml
  .github/workflows/docops_reach.yml
  .github/workflows/docops_search.yml
  .github/workflows/docops_search_eval.yml
  .github/workflows/docops_secscan.yml
  .github/workflows/docops_trace.yml
  .github/workflows/kumiki_ci_publish_plus.yml
  MIGRATION_NOTES.md
Owners: @team-platform

fix: Correct job name for ledger verification on push to main
  .github/workflows/kumiki_ci_publish_plus.yml
Owners: @team-platform

fix: Update trace script path in CI workflow
  .github/workflows/kumiki_ci_publish_plus.yml
Owners: @team-platform

feat: Add trace rules configuration and compatibility wrapper for older workflows
  tools/ci/config/trace_rules.yml
  tools/ci/trace.py
  tools/ci/trace_emit.py
Owners: none

feat: Enhance suggestion mechanism with configurable thresholds for unknown references
  docs/00_concept/CR-KMK-00_concept_requirements.md
  tools/ci/trace.py
Owners: @team-docs

refactor: Simplify CI workflow by consolidating build steps and removing unused jobs
  .github/workflows/kumiki_ci_publish_plus.yml
Owners: @team-platform

feat: 新しいドキュメントリンティングツールを追加
  tools/ci/doc_lint.py
Owners: none

feat: DocLintの実行とレポートのアップロードを追加
  .github/workflows/kumiki_ci_publish_plus.yml
Owners: @team-platform

feat: TraceルールのYAMLパースとタブチェックを追加
  .github/workflows/kumiki_ci_publish_plus.yml
Owners: @team-platform

feat: 定義されたIDの収集と接頭辞の許可リストを追加
  docs/00_concept/CR-KMK-00_concept_requirements.md
  tools/ci/trace.py
  tools/docops_cli/config/trace_rules.yml
Owners: @team-docs, @team-platform

feat: Add Kumiki Traceability Standard (STD-KMK-TRACE-01) and Vocabulary Standard (STD-KMK-VOC-01)
  docs/90_standards/STD-KMK-00_INDEX.md
  docs/90_standards/STD-KMK-CI-01.md
  docs/90_standards/STD-KMK-FM-01.md
  docs/90_standards/STD-KMK-ID-01.md
  docs/90_standards/STD-KMK-LINT-01.md
  docs/90_standards/STD-KMK-MKDOCS-01.md
  docs/90_standards/STD-KMK-REG-01.md
  docs/90_standards/STD-KMK-TRACE-01.md
  docs/90_standards/STD-KMK-VOC-01.md
  kumiki_開発手順と運用設計_v_1.md
Owners: @team-docs
